nav {
  color: white;
}

.site-logo {
  text-decoration: none;
  color: white;
  font-size: x-large;
  font-weight: 800;
  padding-left: 15px;
}

.nav-bar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding-right: 15px;
}

.menu {
  background-color: black;
  display: flex;
  justify-content: space-between;

}

@media screen and (max-width:600px) {
  .space {
    display: none;

  }

  .name a {
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-decoration: none;
  }
}

