.create-post-div {
  display: grid;
  grid: auto auto auto auto auto/  10px auto 10px
}
.create-post-title {
  grid-area: 1/2/1/3;
  font-size: .5rem;
}
.create-post-form {
  grid-area: 2/2/6/3;
}
.create-post-text-area {
  grid-area: 2/2/4/3;
  text-align: center;
  width: 100%;
}
.create-post-image {
  grid-area: 4/2/5/3;
  text-align: center;
  /* border: solid 0.3px black; */
  width: 100%;
}
.create-post-button {
  grid-area:5/2/6/3;
  margin: 0 40% 0 40%;
  width: 20%;
  background-color: #fff;
  border: none;
  opacity: 75%;
}


/* 
        <textarea className="create-post-text-area" id="body" value={input.body} onChange={handleChange} />
        <br />
        <label className="label-two">Image:</label>
        <input  className="create-post-image" id="imgUrl" value={input.imgUrl} onChange={handleChange} />
        <br />
        <button>Submit</button>
      </form> */
