.categories-selections {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
}

.category-trend-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

.edit-thread-post-link {
  color: #000;
  text-decoration: none;
}

.create-thread-data-list {
  display: initial;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  height: 20px;
  width: 100px;
  border: 0;
}

.create-thread-option {
  display: initial;
  color: #000;
}

.thread-card-container {
  display: flex;
  justify-content: center;
  margin: 5px 0 5px 0;
}

.create-post-div {
  display: grid;
  grid: auto auto auto auto auto/ 10px auto 10px
}

.create-post-title {
  grid-area: 1/2/1/3;
  font-size: .5rem;
}

.create-post-form {
  grid-area: 2/2/6/3;
}

.create-post-text-area {
  grid-area: 2/2/4/3;
  text-align: center;
  width: 100%;
  /* height: 100%; */
}

.create-post-image {
  grid-area: 4/2/5/3;
  text-align: center;
  border: solid 0.3px black;
  width: 100%;
}

.create-post-button {
  grid-area: 5/2/6/3;
  margin: 0 40% 0 40%;
  width: 20%;
  background-color: #fff;
  color: #000;
  border: none;
  opacity: 100% !important;
}

.post-mapping-div {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.post-mapped {
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  /* border: 0.3px solid black; */
  width: 200px;
  margin: 2px;
}

.thread-delete {
  display: flex;
  justify-content: center;
  margin: 5px 0 5px 0;
  flex-flow: column;
  text-align: center;
}

.thread-delete-container {
  display: flex;
  justify-content: center;
  margin: 5px 40% 5px 40%;
  flex-flow: column;
  max-width: 350;

}