@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.move {
  display: inline;
  position: relative;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
}

.logo-text {
  position: absolute;
  width: 15vw;
  height: 15vw;
  top: 32%;
  left: 2%;
}

.logo {
  position: absolute;
  left: 45vw;
  top: 25vh;
  font-family: "open sans";
  font-size: 1vw;
  letter-spacing: 3px;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  text-align: center;
  width: 15vw;
  height: 15vw;
  background-color: rgba(61, 60, 60, 0.4)
}

.back {
  background-image: url("https://wallpaperaccess.com/full/1379504.png");
  width: 100%;
  height: 65vh;
  animation-name: move;
  animation-direction: normal;
  animation-duration: 40s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

@keyframes move {
  0% {
    background-image: url("https://wallpaperaccess.com/full/1379504.png");
  }

  10% {
    background-image: url("https://vsthemes.org/uploads/posts/2018-07/1532945000_2018-07-30_125844.png")
  }

  20% {
    background-image: url("https://i.pinimg.com/originals/ea/3a/67/ea3a672c7219ee1eb3f83a3982652c81.jpg")
  }

  30% {
    background-image: url("https://hdqwalls.com/download/city-rain-blur-bokeh-effect-7w-1920x1080.jpg")
  }

  40% {
    background-image: url("https://wallpapercave.com/wp/wp4729292.jpg")
  }

  50% {
    background-image: url("https://wallpaperaccess.com/full/33972.jpg")
  }

  60% {
    background-image: url("https://eskipaper.com/images/gold-coast-australia-1.jpg")
  }

  70% {
    background-image: url("https://www.teahub.io/photos/full/157-1578604_india-wallpapers-india-hd.jpg")
  }

  80% {
    background-image: url("https://wallpaperaccess.com/full/180140.jpg")
  }

  90% {
    background-image: url("https://cdn.wallpapersafari.com/43/45/1QNshc.jpg")
  }
}

@media screen and (max-width:600px) {
  .back {
    width: 100%;
    height: 400px;
  }

  .logo {
    left: 83.5px;
    top: 180px;
    width: 200px;
    height: 200px
  }

  .logo h1 {
    top: 75px;
    left: 28px;
    font-size: 22px;
  }
}