.icon-color {
  color: #f8f7ff;
  display: none
}

.bar {
  display: none;
  background-color: #1c1c1c;
}

.mobile-nav-text {
  color: #1c1c1c;
  text-decoration: none;
}



@media only screen and (max-width: 600px) {
  .bar {
    display: block;
    text-align: left;
  }
}