/* *{
    margin: 0;
    padding: 0;
} */

.bar {
  /* background-color: rgb(233, 13, 218); */
  display: none;

}

.color {
  display: none;
}

/* nav{
    display: flex;
justify-content: space-between;
align-items: flex-end;
background-color:black ;

} */

/* nav a{
    letter-spacing: 4px;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    transition: .5s ease-in-out;
} */

/* .space a{
    padding: 10px;

} */

/* .name a{
    
    font-size: 35px;
} */

/* a{
text-decoration: none;
color: black;

} */

/* .color{
    color: black;  */
/* opacity: 0; */
/* } */

/* .space{
display: flex;

align-items: center; */
/* } */

@media screen and (max-width: 600px) {
  .bar {
    /* background-color: rgb(0, 0, 0) ; */
    display: block;
    /* width: 100%; */
  }

  nav {
    display: none;
  }

  .color {
    opacity: 1;
    color: black;
  }

}

/* nav a:hover{
background-color: skyblue;

} */