footer {
  background-color: black;
  width: 100%;
  height: 40px;
  bottom: 0;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
}

footer .git,
footer .linkedin {
  color: white;
  width: 30px;
  padding-left: 3px
}

footer .linkedin {
  padding-right: 15px
}

@media only screen and (max-width: 850px) {
  footer {
    height: 100%;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

  footer .git,
  footer .linkedin {
    padding: 0
  }
}