.trending-categories {
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-flow: column wrap;
    padding: 10px;
  }
  .user-tab {
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-flow: column wrap;
    padding: 10px;
  }
  .two-column-grid {
    display: grid;
    width:200px;
    height: 35px;
    grid: 1fr/ 45% 55%;
  }