.trending-text {
  text-align: center;
}

.main-card-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.trend-card-container {
  padding: 10px
}

.home-grid {
  display: grid;
  grid: 5vh 30vh/ 60% 40%;
}
.home-grid-left {
  grid-area: 2/1/2/2;
  text-align: right;
}
.home-grid-right {
  grid-area: 2/2/2/3;
  text-align: left;
}