.trending-text {
  text-align: center;
}

.main-card-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.trend-card-container {
  padding: 10px
}

.home-grid {
  display: grid;
  grid: 5vh 70vh/ 52% 48%;
}
.home-grid-left {
  grid-area: 2/1/2/2;
  display: flex;
  justify-content: flex-end;
  align-items:flex-start;
  margin-right: 25px;
}
.home-grid-right {
  grid-area: 2/2/2/3;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items:flex-start;
  flex-flow: column wrap;
  margin-left: 25px;
}


@media only screen and (max-width: 850px) {
  .home-grid {
    display: grid;
    grid: 5vh 30vh/ 60% 40%;
  }
}